/* /packages/datamanagement/resources/css/display.css has default CSS for this package pages. Overrides/unique values here */

/*
.questionLabel {
	width: 206px;
}
*/
.questionAnswer {
    position: relative;
	margin-left: 250px;
}

.questionLabel {
    float: left;
    width: 250px;
}

.helpLink {
float: right;

}


th.hideCol, td.hideCol {
    display: none;
}