th.hideCol, td.hideCol {display: none;}

/*th.reqId, td.reqId {display: none;}*/

th.statusCol, td.statusCol { }

.optionsText {
	/*float: left; 
	position: absolute;*/
	margin-left:600px;
}

.fieldQuestion { float: left; }

.clear { clear:both; }

.group{
	background-color: darkgrey;
	font-weight:bold;
}

body{
	font-family:Segoe UI,Arial,sans-serif;
	font-size:10pt;
}

button, input, select, textarea {
	font-family:Segoe UI,Arial,sans-serif;
}

p{
	margin-top:15x;
	margin-bottom:2px;
	margin-left:2px;
	margin-right:2px;
}

p:first-child{
	margin-top:2px;
}

.templateSection{
	margin-bottom:20px;
	border-width: 1px;
	border-color: lightgrey;
	border-style: solid;
}

.sectionHeader{
	font-family:Segoe UI,Arial,sans-serif;
	font-weight:bold;
	font-size:11pt;
	background-color:#88A7C3;
	padding-top:5px;
	padding-bottom:5px;
	padding-left: 2px;
}

.questionLayer{
	padding-top: 5px;
	padding-bottom: 5px;
}

.questionLayer:hover{
	background-color:lightgray;
}

.questionAnswer{
	margin-left:200px;
}

.questionLabel{
	width:200px;
	float:left;
	margin-left:6px;
}

input[type=checkbox]{
	margin-right:10px;
	margin-left:6px;
}

input[type=radio]{
    margin-left:15px;  /* applies to .questionAnswer input radio element */
	margin-right:2px;  /* applies to .questionAnswer input radio element */
}

input[type=radio]:first-child /*input[type=radio]*/{
    margin-left:0px; /* limits the scope of the previous rule */
}


.dynamicText{
	padding-left:6px;
	padding-right:6px;
	padding-top:5px;
	padding-bottom:5px;
}

.dynamicText.sectionHeader{
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	/*background-color:#88A7C3;*/
}

.dynamicText.sectionInstructions{
	background-color: #88D793;
}

.dynamicText.fieldInstructions {
	margin-left:200px;
	font-style:italic;
}

.templateButtonLayer2{
	margin-left:200px;
}

.helpLink{
	float:right;
	margin-right:2px;
	cursor:pointer;
}